* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	background: var(--background-color);
	background-size: cover;
	overflow-x: hidden;
}

body {
	font-family: "Fira Code", monospace;
}

h1 {
	font-size: 20px;
}

a,
a:active,
a:visited {
	color: #D3AF86 !important;
	text-decoration: none;
	transition: color 0.2s !important;
}

a:hover {
	color: #DC3958 !important;
	transition: color 0.2s !important; 
}

::selection {
  color: var(--selection-fg);
  background: var(--selection-bg);
}